.login-position{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width:768px) {
    .login-position{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}