*{
   font-family:sans-serif;
   font-weight: bold;
}
.image-logo{
    margin-right: 10%;
    border-radius: 40px;
}
.nav1{
    display: flex;
    flex-direction: row;
}
.search-logo{
    height: 30px;
    margin-top: 15px;
}
.input[type=text] {
    margin-left: 10%;
    margin-top: 15px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
  }
  .nav-position{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .list-items{
    display: flex;
    list-style: none;
  }
  li{
    margin-left: 40px;
    font-size: 20px;
    
  }
  
  .link{
    color: black;
  }
  .link:hover{
    color: grey;
    cursor: pointer;
    
  }
  .logout-button {
    background: none;
    border: none;
    color: red;
    font-size: inherit;
    cursor: pointer;
    
  }
  .search-bar-container {
    position: relative; /* Ensure the results are positioned relative to this container */
    display: inline-block;
    display: flex;
  }

  
  .search-results {
    position: absolute; /* Position results absolutely relative to the container */
    top: 100%; /* Place the results directly below the input field */
    left: 0;
    z-index: 10; /* Ensure it appears above other elements */
    background-color: white;
    width: 100%; /* Match the width of the input field */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Optional: Limit height and make it scrollable */
    overflow-y: auto;
  }
  
  .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .search-result-item:hover {
    background-color: #f0f0f0;
  }
  
  .search-result-item img {
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .search-result-item p {
    margin: 0;
    font-size: 14px;
  }
  