*{
   font-family:sans-serif;
   font-weight: bold;
}
.image-logo{
    margin-right: 10%;
    border-radius: 40px;
}
.nav1{
    display: flex;
    flex-direction: row;
}
.search-logo{
    height: 30px;
    margin-top: 15px;
}
.input[type=text] {
    margin-left: 10%;
    margin-top: 15px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
  }
  .nav-position{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .list-items{
    display: flex;
    list-style: none;
  }
  li{
    margin-left: 40px;
    font-size: 20px;
    
  }
  
  .link{
    color: black;
  }
  .link:hover{
    color: grey;
    cursor: pointer;
    
  }
  .logout-button {
    background: none;
    border: none;
    color: red;
    font-size: inherit;
    cursor: pointer;
    
  }
  
  
  